/* Base Variables */
:root {
    /* Colors */
    --color-dark: #222222;          /* Dark black */
    --color-light: #f5f5f5;         /* Light gray for backgrounds */
    --color-gray: #7d7d7d;          /* Medium gray for accents */
    --color-accent: #f0f0f0;        /* Very light gray for text shadows or highlights */

    /* Font Sizes */
    --font-size-hero: 4.5rem;       /* Large font for hero section */
    --font-size-large: 2.5rem;      /* Large font size for headings */
    --font-size-medium: 1.125rem;   /* Body text size */
    --font-size-small: 0.875rem;    /* Small text */

    /* Spacing */
    --padding-base: 1rem;
    --padding-large: 2rem;
}

html{
    overflow-x: hidden ;
}
/* Global Font Family Setup */
body {
    font-family:'Courier New', Courier, monospace;
    background-color: var(--color-dark);
    color: var(--color-light);
    scroll-behavior: smooth;
}


/* Navbar */
.navbar{
    opacity: 0.8;
    
}

/* Accordion */
/* Basic Styling */
.accordion {
    width: 80%;
    margin: 20px auto;
}

.accordion-title{
    padding-left: 0%;
    margin-left: 10%;
}

.accordion-itm {
    border-top: 1px solid rgb(255, 255, 255,0.3); /* Add top border to each item */
}

.accordion-itm:last-child {
    border-bottom: 1px solid rgb(255, 255, 255,0.3); /* Add bottom border only to the last item */
}

.accordion-header {
    cursor: pointer;
    font-size: 1.5rem;
    padding: 10px 20px; /* Adjust padding for consistent spacing */
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: color 0.3s ease, opacity 0.3s ease;
    background: transparent;
    position: relative;
    opacity: 0.75;
}

.accordion-header:hover{
    opacity: 1;
}
/* Title Styling */
.title {
    transition: transform 0.5s ease;
    margin-right: 20px;
}

/* Icon Styling */
.icon {
    display: inline-block;
    transition: transform 0.3s ease;
}

.icon::after {
    content: "+";
}

/* Content Styling */
.content {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: max-height 0.5s ease, opacity 0.5s ease, transform 0.5s ease;
    padding: 0 20px; /* Add padding to content */
    transform: translateX(0);
}

/* Active Content */
.content.active {
    max-height: 100px;
    opacity: 1;
    transform: translateX(100px);
}

/* Active Header Title - only the title shifts */
.accordion-header.active .title {
    transform: translateX(100px);
    opacity: 1;
}

/* Icon Toggle when Active */
.accordion-header.active .icon::after {
    content: "-";
}
/* Mobile View: Disable Right Shift */
@media (max-width: 768px) {
    .accordion-header.active .title,
    .content.active {
        transform: translateX(0); /* No shift on mobile */
    }
}