     <!-- Hero Section -->
     <section class="parallax">
        <div class="container">
            <div class="vh-100 d-flex align-items-center justify-content-start text-white hero-content ">
                <div>
                    <h1 class="fw-bold letter-spacing hero-header fade-in-text">
                        <span>Welcome</span><br>
                        <span>to</span>
                        <span>AOQ</span>
                    </h1>
                    <p class="lead mt-3 fs-1 fw-semibold fade-in-text">
                        <span>where</span>
                        <span>we</span>
                        <span>take</span>
                        <span>care</span>
                        <span>of</span>
                        <span>you</span>
                    </p>
                </div>
            </div>
        </div>
    </section>

    <!-- Main Theme Section -->
    <section class="bg-dark text-white p-2">
        <div class="container">
            <div class="vh-100 d-flex justify-content-center align-items-center section-2 position-relative text-center p-sm-4">
                <div class="circle-element"></div>
                <p>We are here for you at all times</p>
            </div>
        </div>
    </section>

    <!-- Accordion Section -->
    <section class="bg-dark text-white p-2">
        <div class="container-fluid">
            <h2 class="accordion-title">Title</h2>
            <div class="accordion">
                <div class="accordion-itm">
                    <h2 class="accordion-header" onclick="toggleAccordion(this)">
                        <span class="title ms-md-5 text-start"> Item 1</span>
                        <span class="icon"></span>
                    </h2>
                    <div class="content ms-md-5 ">
                        <p>this is my paragraph</p>
                    </div>
                </div>
          
                <div class="accordion-itm">
                    <h2 class="accordion-header" onclick="toggleAccordion(this)">
                        <span class="title ms-md-5 text-start"> Item 2</span>
                        <span class="icon"></span>
                    </h2>
                    <div class="content ms-md-5 ">
                        <p>this is my paragraph</p>
                    </div>
                </div>
                <div class="accordion-itm">
                    <h2 class="accordion-header" onclick="toggleAccordion(this)">
                        <span class="title ms-md-5 text-start"> Item 3</span>
                        <span class="icon"></span>
                    </h2>
                    <div class="content ms-md-5 ">
                        <p>this is my paragraph</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Scrolling Text Section -->
    <section>
        <div class="scrolling-text-container bg-dark">
            <div class="container-fluid">
                <div class="scrolling-text opacity-50 text-uppercase">
                    <!-- Duplicate the text for seamless scrolling -->
                    Welcome to AOQ Sports - Empowering Sports Success! Welcome to AOQ Sports - Empowering Sports Success!
                </div>
            </div>
        </div>
    </section>